// Place all the styles related to the BusinessInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#content
  {
  display: block;
  margin: 20px auto;
  width: 90%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid black;
}