*
{
    /*background-color: #D0DDDD;*/
    font-family: Arial, Serif;
}

.header
{
    background-color: white;
}

body
{
	background-color: white;    /*Image path here*/
	width: 780px;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 5px;
        width: 80%;
}

#signin
{
    float: right;
    position: relative;
    right: 60px;
    top: 40px;
    color: #333;
    font-size: 18px;
}

#signin a
{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin: 0px 5px;    /* Fix mouseover */
    text-align: center;
    padding: 8px;
    border: 1px solid white;    /* Provided to cause link to display properly */
}

#signin a:hover
{
    background-color: #BBBBBB;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid black;
    color: black;
}





