// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product
{
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 200px;
    border: 1px solid black;
}

.product img
{
    float: left;
    margin: 10px;
}

.name
{
    font-size: 24px;
    margin: 10px 0px;
    float: left;
    display: block;
}

.description
{
    width: 70%;
    float: left;
    display: block;
}

.details
{
    float: right;
    margin: 10px 15px;
}

.strike
{
    color: red;
    text-decoration: line-through;
}

.admin_controls
{
    float: right;
    margin: 10px;
}

.reviews
{
    margin: 20px 10px;
    clear: both;
}