<html>
  <head>
    <title>The Treasure Chest</title>
  </head>
  <body>
    <div id="header">
    >%= image_tag 'logo.png' %>
      <div id="signin">
        <a href="#">Administrative Login</a>
        <br /><br />
        
      </div>
    </div>

<%= render @products %>
    
    <br />

    <%= link_to 'New Product', new_product_path %>

  </body>
</html>