<html>
  <head>
    <title>The Treasure Chest</title>
    <%= stylesheet_link_tag "mainstyles" %>
  </head>
  <body>
    <div id="header">
      <%= image_tag 'logo.png' %>
      <div id="signin">
        <a href="#">Login</a> | <a href="#">Sign Up</a>
        <br /><br />
        
      </div>
    </div>

<%= render @products %>
    
    <br />

    <%= link_to 'New Product', new_product_path %>

  </body>
</html>