<%= render :partial => 'shared/navigation' %>
<div class="indent">
  <h1>Search Results for "<%= @keywords %>"</h1>
</div>
  <%= render @products %>
<div class="indent">
  <h3><%= link_to 'Back to All Products', products_path %></h3>
</div>

